.gbor {
    border: 3px #ffb81c solid;
}

.nmpanel {
    height: 330px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
    -5px -5px 10px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255, 0.2);
    
}

.nmpanel img {
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.nmpaneltxt {
    height: 160px;
    text-align: justify;
    padding:10px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}


.nmcard {
    background-color: #efeeee;
    padding: 0px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
    -5px -5px 10px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255, 0.2);

}

.nmtop {
    height: 200px;
    width: 90%;
    margin-top: 10%;
    text-align: center;
}

.nmize {
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
    -5px -5px 10px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255, 0.2);
}

.nmbtm {
    height: 250px;
    width: 90%;
}

.onepg {
    width: 80%;
}

.wineleft {
    border-radius: 5px 0 0 5px;
    background-color: #6f263d;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.3);
    width:20%;
    height: 50px;
    text-align: center;
    font-size: 2em;
}

.wineright {
    border-radius: 0 5px 5px 0;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.3);
    width:70%;
    height: 50px;
    text-align: center;
}

.gsleft {
    border-radius: 5px 0 0 5px;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.3);
    width:70%;
    height: 50px;
    text-align: center;
}

.gsright {
    border-radius: 0 5px 5px 0;
    background-color: #006BB8;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.3);
    width:20%;
    height: 50px;
    text-align: center;
    font-size: 2em;
}


.hundred {
    height: 100vh;
}

.third {
    height: 30vh;
}

.fifty {
    height: 50vh;
}

.box1 {
    height: 320px !important;
    width:30%;
    position: relative;
    background-color: white;
    border-radius: 15px;
}

.grey {
    background-color: rgba(0,0,0,0.5);
}

.white {
    background-color: white;
}

.gold {
    background-color: #ffb81c;
}

.wine {
    background-color: #6f263d;
}

.black {
    background-color: black;
}

.blue {
    background-color: #006BB8;
}

.nmbg {
    background-color: #efeeee;
}


/* down arrow button */

.nextarrow {
    color:#FDBB30 !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:90%;
    text-align: center;
    animation: fadeIn1, bounce;
    animation-duration: 12s, 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    font-size: 30px;
}

.fadeIn0 {
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeIn1 {
    animation: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.fadeIn2 {
    animation: fadeIn2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.fadeIn3 {
    animation: fadeIn2;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.fadeIn4 {
    animation: fadeIn2;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.fadeIn5 {
    animation: fadeIn2;
    animation-duration: 22s;
    animation-fill-mode: forwards;
}

.fadeIn6 {
    animation: fadeIn2;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}



.bounce {
    animation: bounce;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes expand {
    
    100% {
        transform: scale(3);
    }

}

@keyframes fadeLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}