

/* for guide */

.gbor {
    border: 10px #ffb81c solid;
}


.hundred {
    height: 100vh;
}

.third {
    height: 30vh;
}

.fifty {
    height: 50vh;
}


.grey {
    background-color: rgba(0,0,0,0.5);
}

.white {
    background-color: white;
}

.gold {
    background-color: #ffb81c;
}

.wine {
    background-color: #6f263d;
}

.black {
    background-color: black;
}

.blue {
    background-color: #006BB8;
}

.nmbg {
    background-color: #efeeee;
}

.goldw {
    color:#FDBB30;
}

