.gbor {
    border: 5px #ffb81c solid;
}

.box1 {
    height: 320px !important;
    width:30%;
    position: relative;
    background-color: white;
    border-radius: 15px;
}

.white {
    background-color: white;
}

.gold {
    background-color: #ffb81c;
}

.wine {
    background-color: #6f263d;
}

.black {
    background-color: black;
}

#chapt1 h1,#chapt1 #bron1, #ib1, #ib2, #ib3, #a4 p,  #c21, #c22, #villain,
#chapt2b p {
    display: none;
}

#chapt1:hover h1, #chapt1:hover #bron1, #chapt1b:hover #ib1, 
#chapt1b:hover #ib2, #chapt1b:hover #ib3, #chapt1b:hover #a4 p,
#chapt2b:hover p {
    display: block;
}

 
#draftday:hover #pickquote, #draftday:hover #c11, #draftday:hover #c12, #draftday:hover #c13,
#draftday:hover img, #chapt2:hover #c21, #chapt2:hover #c22, #chapt2:hover #villain
    {
    display: block;
}

/* down arrow button */

#chapt1 i, #chapt1b i, #chapt2 i, #chapt2b i, #chapt3 i, #chapt3b i, 
#chapt3c i, #chapt4 i {
    color:#FDBB30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:90%;
    text-align: center;
    animation: fadeIn1, bounce;
    animation-duration: 12s, 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    font-size: 30px;
}

.fadeIn0 {
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeIn1 {
    animation: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.fadeIn2 {
    animation: fadeIn2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.fadeIn3 {
    animation: fadeIn2;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.fadeIn4 {
    animation: fadeIn2;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

.fadeIn5 {
    animation: fadeIn2;
    animation-duration: 22s;
    animation-fill-mode: forwards;
}

.fadeIn6 {
    animation: fadeIn2;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}



.bounce {
    animation: bounce;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.neuromorph {
    background-color: black;
    padding: 0px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
    -5px -5px 10px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255, 0.2);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}