html {
  scroll-behavior: smooth;
}

body
{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

p {
    font-family: 'PT Sans' ;
    color: black;
}

h1 {
    font-family: 'Bebas Neue' ;
    color:black;
}

/* opening */
#opening {
    overflow: hidden;
}

#storycontainer {
    z-index: 1;
}

#bgimg {
    left: 0;
    width: 100%;
    position: fixed;
}

#cut {
    position: relative;
    width: 100%;
}

#heading {
    position: fixed;
    font-size: 80px;
    color: white;
    top: 5%;
    left: 27%;
}

#heading2 {
    position: fixed;
    font-size: 300px;
    color: white;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#heading3 {
    position: absolute;
    color: white;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.rborder {
    border-right: 5px solid #FDBB30;
}

.lborder {
    border-left: 5px solid #FDBB30;
}

#beginbtn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    border-radius: 15px;
    background-color: #FDBB30;
    border: none;
    
    padding:10px 30px;
    font-family:'PT Sans' ;
    font-weight: 800;
    transition: ease-in-out 0.5s;
}

#beginbtn:hover {
    transition: ease-in-out 0.5s;
    top:73%;
    box-shadow: 0px 15px orange;

}