body {
    background-color: black;
    padding:0;
    margin:0;
}

.col-10 {
    border: maroon 3px solid;
    height: 100vh;
}

#opening {
    position: relative;
    text-align: center;
    height: 100vh;

}

#opening img {
    height: 100vh;
    animation: fadeIn2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
    
    
}

#opening i {
    color:gold;
    position: absolute;
    top:90%;
    animation: bounce;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}



#opening h1{
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color:gold;
    animation: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#opening p {
    color: white;
    animation: fadeIn2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

