html {
  scroll-behavior: smooth;
}

body {
    padding:0;
    margin:0;
}

p {
    font-family: 'PT Sans' ;
    color: black;
}

h1 {
    font-family: 'Bebas Neue' ;
    color:black;
}



/* -------------------------------welcome page css --------------------------------*/
.opening {
    position: relative;
    text-align: center;
    height: 100vh;

}

.opening img {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.opening i {
    color:#FDBB30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:80%;
    text-align: center;
    animation: fadeIn2, bounce;
    animation-duration: 12s, 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    font-size: 30px;
}

.opening .para1{
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color:#FDBB30;
    font-family: 'Bebas Neue' ;
    font-size: 5em;
}

.opening .para2{
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    color: #FDBB30;
    font-family: 'Bebas Neue' ;
    font-size: 80px;
    font-size: 7em;
}

.opening p {
    color: white !important;
    animation: fadeIn2;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    font-family: 'PT Sans' ;
}



/* -------------------------------chapt 0 css --------------------------------*/

#chapt0 {
    position: relative;
}

#chapt0 img {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#c01, #c02 {
    font-size: 22px;
}

#chapt0 #c01 {
    color:white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'PT Sans' ;
    
}

#chapt0 #c02 {
    color:white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'PT Sans' ;
}

#c03 {
    color:white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 5em;
}

#chapt0 i {
    color:#FDBB30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:80%;
    text-align: center;
    animation: fadeIn2, bounce;
    animation-duration: 12s, 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    font-size: 30px;
}

#chapt0 p, #c03{
    display: none;
}

#chapt0:hover #c03, #chapt0:hover p  {
    display: block;
}

/* -------------------------------failure resume --------------------------------*/

#failr img {
    height: 80%;
    
}

#herotxt1 {
    position: absolute;
    bottom: 45%;
    font-size: 6em;
    left: 30%;
    color: #6f263d;
}

#herotxt2 {
    position: absolute;
    bottom: 30%;
    left:30%;
    font-size: 7em;
    color: #6f263d;
}

#herotxt3 {
    font-size: 0.8em;
    font-family: 'PT Sans' ;
    transform: rotate(-90deg);
    position: absolute;
    color: grey;
    left:70%;
    top:30%;
    width: 500px;
    text-align: left;
    font-style: italic;
}

#resume {
    position: relative;
    top:20%;
    left:40%;
    width:300px;
    color: rgba(0,0,0,0.5);
}

.gline {
    border-left: 3px solid #FDBB30;
}

.wline {
    border-left: 3px solid #6f263d;
}

@media (max-width:768px) {
    #resume {
    position: static;
    padding: 20px;
    height: 30vh;
    }

    #herotxt3 {
    position: static;
    visibility: hidden;
   }

    #herotxt2, #herotxt1 {
    position: static;
    font-size: 5em;
    padding-bottom: 0;
    margin-bottom: 0;
    }

    #failr img {
        height: 60%;
        position: static;
        
    }
}


/* -------------------------------matchup --------------------------------*/

#test {
    position: absolute;
    top:50%;
    left:120%;
    display:none;
    animation: expand; 
    animation-duration:2s;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    
}

/* -------------------------------mynav css --------------------------------*/

.navbar { background: #0069AA; margin: 0; border: 0; }